<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，当前文档的一个标识符-->
<mapper namespace="com.qiujian.dto.RolesMapper">

    <!--resultMap结果集的映射-->
    <!--id是当前resultMap的唯一标识-->
    <!--type是结果的类型-->
    <resultMap id="RolesResultMap" type="com.qiujian.dto.RolesDto">
        <id property="rolesId" column="roles_id" javaType="java.lang.Integer"/>
        <result property="rolesName" column="roles_name" javaType="java.lang.String"/>

        <collection property="pemissionDtos" javaType="com.qiujian.dto.PemissionDto">
            <id property="pmId" column="pm_id" javaType="java.lang.Integer"/>
            <result property="pmName" column="pm_name" javaType="java.lang.String"/>
        </collection>
    </resultMap>
    <!-- 查询语句 -->
    <select id="getRolesByName" resultMap="RolesResultMap">
        SELECT distinct(r.roles_name) FROM roles r join us_ro ur join user u
        ON r.roles_id=ur.fk_roles_id and ur.fk_user_id=u.user_id
        and u.user_name =#{userName}
    </select>
</mapper>